@model Domain.Users.Platform

@{
    ViewBag.Title = "Edit: "+Model.Name;
    Layout = "_Layout";
}

<h2>Aanpassen van @Model.Name</h2>
<form asp-action="EditPlatform" asp-controller="Platform" method="post">
    <div class="form-group">
        <label asp-for="Name">Naam van het platform</label>
        <input asp-for="Name" class="form-control" value="@Model.Name"/>
    </div>
    <div class="form-group">
        <label asp-for="Url">Een verkorte URL</label>
        <input asp-for="Url" class="form-control" value="@Model.Url"/>
    </div>
    <div class="row">
        <input type="submit" class="btn btn-primary" value="Opslaan" />
    </div>
</form>
