@using Domain.Projects
@using UIMVC.Services
@model Domain.Users.Platform
@inject ProjectService ProjectService
@{
    ViewData["Title"] = Model.Name;
}

<section>
    <h1>@Model.Name</h1>
    <hr/>
    <p>This is where I'd put an image if I (knew how I) could convert from BLOB</p>
    <hr/>
    <a class="btn btn-primary" asp-controller="Project" asp-action="AddProject" asp-route-platform="@Model.Id">Maak nieuw project aan</a>
    <hr/>
    <div class="row">
        @if (ProjectService == null || !ProjectService.CollectPlatformProjects(Model).Any())
        {
            <h4>Er zijn geen projecten voor dit platform</h4>
        }
        else
        {
            foreach (Project project in ProjectService.CollectPlatformProjects(Model))
             {
                 if (project.Visible)
                 {
                     <div class="col-md-4">
                         @Html.DisplayFor(m => project)
                     </div>  
                 }
             }
        }
    </div>
</section>