<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <appSettings>
        <add key="Authentication:Google:ClientId" value="961648754284-f8crdm2n6m658gljsfitg9nbn84rsq33.apps.googleusercontent.com" />
        <add key="Authentication:Google:ClientSecret" value="9gUfrqCiUaRKKeqCjnUeFJsA" />
        <add key="SendGridUser" value="Integratieproject-Team13" />
        <add key="SendGridKey" value="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" />
    </appSettings>
</configuration>