.test {
    color: red;
}

.layoutTitle {
    font-size: 20px;
    font-weight: bold;
}

/* Home/Index.cs/PlatformList layout*/
.home-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    form {
        width: 75%;
        * {
            margin: 5px;
        }
    }
}

/* Login page*/
.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div {
        width: 300px;
    }
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

    
}
