.colorRed {
  color: red;
}

.layoutTitle {
  font-size: 20px;
  font-weight: bold;
}

#menu {
  display: none;
  position: fixed;
  justify-content: center;
  align-content: center;
  background-color: white;
  opacity: .9;
  width: 70%;
  height: 95%;
  top: 2.5%;
  left: 15%;
  border: dashed;
}

/* carouselIndex */
.imageCarousel {
  width: 320px;
  height: 400px;
}

.platformCar {
  h1 {
    text-align: center;
  }
}

/* searchPlatformIndex */
.formIndexPlatform {
  display: flex;
  align-items: center;
  flex-direction: column;

  input {
    text-align: center;
  }
}

/* ErrorPage */
.errorPage {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  img {
    width: 100%
  }
}

/* CreatePlatform */
.createPlatform {
  margin: 20px;

  * button {
    height: inherit;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    div {
      flex: 1;
    }
  }
}

/* SVG icons */
.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: .5em;
}

.svg-icon {
  height: 1em;
  width: 1em;
  top: .125em;
  position: relative;
}

/* Home/Index.cs/PlatformList layout*/
.home-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    width: 75%;

    * {
      margin: 5px;
    }
  }
}

/* Login page*/
.accountFormPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  div {
    width: 300px;
  }

  h4 {
    text-align: center;
  }

  button {
    width: 100%;
  }

  p {
    text-align: center;
  }
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

}

/*
Used to put the buttons Wijzig project en Wis project on bottom of the div(with likes and info)
Used in Platform/CollectProject.cshtml
 */
.project-actions {
  position: absolute;
  display: flex;
  bottom: 0;

  > button {
    margin-left: 20px
  }
}



/* Is used for to align a label with it's combobox (select) */
/* Used in CollectAllIdeas.cshtml */
#comboFilter {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}

/*CollectIdea.cshtml*/
#ReportHandlerButton {
  margin: 1rem;
}


/* Module.cshtml */
#modulePart {
  display: flex;
  border: #1b1e21 solid;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
  padding: .2em;

  p {
    text-align: center;
    vertical-align: middle;
  }
}

/* footer */
.footer {
  width: 100%;
  position: absolute;
  padding: 1em 1em 0 1em;
  bottom: 0;
  margin: 0;
  border-top: gainsboro solid thin;
  background-color: ghostwhite;

  ul {
    list-style-type: none;
  }
}

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 10em;
}

/* about page */
.textScript {
  background-color: ghostwhite;
  border: gainsboro solid thin;
}

