@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h4>Inloggen met je  @Model.LoginProvider account.</h4>
<hr />

<p class="text-info">
    Inloggen met je <strong>@Model.LoginProvider</strong> account was een groot success.
    Geef hier je emailadres en klik op registeren om het loginproces te finaliseren.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" readonly class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <label asp-for="Input.Name">Naam</label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registreren</button>
        </form>
    </div>
</div>