

<div class="home-flex">
    <h1>Zoek een platform in je buurt</h1>
    <form class="form-group">
        <div>
            <label for="searchPlatform">Email address</label>
            <input type="text" class="form-control" id="searchForPlatform" aria-describedby="emailHelp" placeholder="Postcode">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

