@using Domain.Identity
@using Microsoft.AspNetCore.Identity
@model object
@inject UserManager<UimvcUser> UserManager
@{
    ViewBag.Title = "Over ons";
    Layout = "_Layout";
}

<section class="body-content">
    <h2 class="test">Nobody expects the Spanish Inquisition</h2>
    <h4>Wat moet dit nu weer voorstellen?</h4>
    <p>Welkom bij ons Project voor <em>Integratieproject 1 - 2018-2019</em> voor de Karel de Grote Hogeschool, District Antwerpen en TreeCompany.</p>
    <h4>Welk stelletje ongeregeld zorgt voor die sassy titels op de about pagina?</h4>
    <p>Wij zijn Team #13 - <em>The Spanish Inquisition</em>:</p>
    <ul>
        <li>Sacha <em>"Schat"</em> Beulens - Android</li>
        <li>Nathan <em>"Spijtkoning van Spijtland"</em> Gijselings</li>
        <li>David <em>"Glanzendei"</em> Matei</li>
        <li>Edwin <em>"Meeneemchinees"</em> Kai-Yin Tam</li>
        <li>Niels <em>"Evil Replicon Decepticon"</em> Van Zandbergen</li>
        <li>Xander <em>"Pattattenveldeman"</em> Veldeman</li>
    </ul>
    <h4>Hoe ga je de rest van deze witruimte opvullen?</h4>
    <p>Met het volledige script van de Spanish Inquisition natuurlijk:</p>
    <p class="textScript font-weight-light">
        Chapman: Trouble at mill.<br>
        Cleveland: Oh no - what kind of trouble?<br>
        Chapman: One on't cross beams gone owt askew on treadle.<br>
        Cleveland: Pardon?<br>
        Chapman: One on't cross beams gone owt askew on treadle.<br>
        Cleveland: I don't understand what you're saying.<br>
        Chapman: [slightly irritatedly and with exaggeratedly clear accent] One of the cross beams has gone out askew on the treadle.<br>
        Cleveland: Well what on earth does that mean?<br>
        Chapman: *I* don't know - Mr Wentworth just told me to come in here and say that there was trouble at the mill, that's all - I didn't expect a kind of Spanish Inquisition.<br>
        <br>
        [JARRING CHORD]<br>
        [The door flies open and Cardinal Ximinez of Spain [Palin] enters, flanked by two junior cardinals. Cardinal Biggles [Jones] has goggles pushed over his forehead. Cardinal Fang [Gilliam] is just Cardinal Fang]<br>
        <br>
        Ximinez: NOBODY expects the Spanish Inquisition! Our chief weapon is surprise...surprise and fear...fear and surprise.... Our two weapons are fear and surprise...and ruthless efficiency.... Our *three* weapons are fear, surprise, and ruthless efficiency...and an almost fanatical devotion to the Pope.... Our *four*...no... *Amongst* our weapons.... Amongst our weaponry...are such elements as fear, surprise.... I'll come in again.<br>
        <br>
        [The Inquisition exits]<br>

        Chapman: I didn't expect a kind of Spanish Inquisition.<br>
        <br>
        [JARRING CHORD]<br>
        [The cardinals burst in]<br>
        <br>
        Ximinez: NOBODY expects the Spanish Inquisition! Amongst our weaponry are such diverse elements as: fear, surprise, ruthless efficiency, an almost fanatical devotion to the Pope, and nice red uniforms - Oh damn!<br>
        [To Cardinal Biggles] I can't say it - you'll have to say it.<br>
        Biggles: What?<br>
        Ximinez: You'll have to say the bit about 'Our chief weapons are ...'<br>
        Biggles: [rather horrified]: I couldn't do that...<br>
        <br>
        [Ximinez bundles the cardinals outside again]<br>
        <br>
        Chapman: I didn't expect a kind of Spanish Inquisition.<br>
        <br>
        [JARRING CHORD]<br>
        <br>
        [The cardinals enter]<br>
        <br>
        Biggles: Er.... Nobody...um....<br>
        Ximinez: Expects...<br>
        Biggles: Expects... Nobody expects the...um...the Spanish...um...<br>
        Ximinez: Inquisition.<br>
        Biggles: I know, I know! Nobody expects the Spanish Inquisition. In fact, those who do expect -<br>
        Ximinez: Our chief weapons are...<br>
        Biggles: Our chief weapons are...um...er...<br>
        Ximinez: Surprise...<br>
        Biggles: Surprise and --<br>
        Ximinez: Okay, stop. Stop. Stop there - stop there. Stop. Phew! Ah! ... our chief weapons are surprise...blah blah blah. Cardinal, read the charges.<br>
        Fang: You are hereby charged that you did on diverse dates commit heresy against the Holy Church. 'My old man said follow the--'<br>
        Biggles: That's enough.<br>
        [To Cleveland] Now, how do you plead?<br>
        Clevelnd: We're innocent.<br>
        Ximinez: Ha! Ha! Ha! Ha! Ha!<br>
        <br>
        [DIABOLICAL LAUGHTER]<br>
        <br>
        Biggles: We'll soon change your mind about that!<br>
        <br>
        [DIABOLICAL ACTING]<br>
        <br>
        Ximinez: Fear, surprise, and a most ruthless-- [controls himself with a supreme effort] Ooooh! Now, Cardinal -- the rack!<br>
        <br>
        [Biggles produces a plastic-coated dish-drying rack. Ximinez looks at it and clenches his teeth in an effort not to lose control. He hums heavily to cover his anger]<br>
        <br>
        Ximinez: You....Right! Tie her down.<br>
        <br>
        [Fang and Biggles make a pathetic attempt to tie her on to the drying rack]<br>
        <br>
        Ximinez:Right! How do you plead?<br>
        Clevelnd: Innocent.<br>
        Ximinez: Ha! Right! Cardinal, give the rack [oh dear] give the rack a turn.<br>
        <br>
        [Biggles stands their awkwardly and shrugs his shoulders]<br>
        <br>
        Biggles: I....<br>
        Ximinez: [gritting his teeth] I *know*, I know you can't. I didn't want to say anything. I just wanted to try and ignore your crass mistake.<br>
        Biggles: I...<br>
        Ximinez: It makes it all seem so stupid.<br>
        Biggles: Shall I...?<br>
        Ximinez: No, just pretend for God's sake. Ha! Ha! Ha!<br>
        <br>
        [Biggles turns an imaginary handle on the side of the dish-rack]<br>
        <br>
        [Cut to them torturing a dear old lady, Marjorie Wilde]<br>
        <br>
        Ximinez: Now, old woman -- you are accused of heresy on three counts -- heresy by thought, heresy by word, heresy by deed, and heresy by action -- *four* counts. Do you confess?<br>
        Wilde: I don't understand what I'm accused of.<br>
        Ximinez: Ha! Then we'll make you understand! Biggles! Fetch...THE CUSHIONS!<br>
        <br>
        [JARRING CHORD]<br>
        <br>
        [Biggles holds out two ordinary modern household cushions]<br>
        <br>
        Biggles: Here they are, lord.<br>
        Ximinez: Now, old lady -- you have one last chance. Confess the heinous sin of heresy, reject the works of the ungodly -- *two* last chances. And you shall be free -- *three* last chances. You have three last chances, the nature of which I have divulged in my previous utterance.<br>
        Wilde: I don't know what you're talking about.<br>
        Ximinez: Right! If that's the way you want it -- Cardinal! Poke her with the soft cushions!<br>
        <br>
        [Biggles carries out this rather pathetic torture]<br>
        <br>
        Ximinez: Confess! Confess! Confess!<br>
        Biggles: It doesn't seem to be hurting her, lord.<br>
        Ximinez: Have you got all the stuffing up one end?<br>
        Biggles: Yes, lord.<br>
        Ximinez [angrily hurling away the cushions]: Hm! She is made of harder stuff! Cardinal Fang! Fetch...THE COMFY CHAIR!<br>
        <br>
        [JARRING CHORD]<br>
        <br>
        [Zoom into Fang's horrified face]<br>
        <br>
        Fang [terrified]: The...Comfy Chair?<br>
        <br>
        [Biggles pushes in a comfy chair -- a really plush one]<br>
        <br>
        Ximinez: So you think you are strong because you can survive the soft cushions. Well, we shall see. Biggles! Put her in the Comfy Chair!<br>
        <br>
        [They roughly push her into the Comfy Chair]<br>
        <br>
        Ximinez [with a cruel leer]: Now -- you will stay in the Comfy Chair until lunch time, with only a cup of coffee at eleven. [aside, to Biggles] Is that really all it is?<br>
        Biggles: Yes, lord.<br>
        Ximinez: I see. I suppose we make it worse by shouting a lot, do we? Confess, woman. Confess! Confess! Confess! Confess<br>
        Biggles: I confess!<br>
        Ximinez: Not you!<br>
    </p> 
</section>