@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section class="body-content">
    <h2 class="test">Nobody expects the Spanish Inquisition</h2>
    <h4>Wat moet dit nu weer voorstellen?</h4>
    <p>Welkom bij ons Project voor <em>Integratieproject 1 - 2018-2019</em> voor de Karel de Grote Hogeschool, District Antwerpen en TreeCompany.</p>
    <h4>Welk stelletje ongeregeld zorgt voor die sassy titels op de about pagina?</h4>
    <p>Wij zijn Team #13 - <em>The Spanish Inquisition</em>:</p>
    <ul>
        <li>Sacha <em>"Schat"</em> Beulens - Android</li>
        <li>Nathan <em>"Spijtkoning van Spijtland"</em> Gijselings</li>
        <li>David <em>"Glanzendei"</em> Matei</li>
        <li>Edwin <em>"Meeneemchinees"</em> Kai-Yin Tam</li>
        <li>Niels <em>"Evil Replicon Decepticon"</em> Van Zandbergen</li>
        <li>Xander <em>"Pattattenveldeman"</em> Veldeman</li>
    </ul>
    <h4>Hoe ga je de rest van deze witruimte opvullen?</h4>
    <p>Met het volledige script van de Spanish Inquisition natuurlijk:</p>
    <p>
        Chapman: Trouble at mill.
        Cleveland: Oh no - what kind of trouble?
        Chapman: One on't cross beams gone owt askew on treadle.
        Cleveland: Pardon?
        Chapman: One on't cross beams gone owt askew on treadle.
        Cleveland: I don't understand what you're saying.
        Chapman: [slightly irritatedly and with exaggeratedly clear accent] One of the cross beams has gone out askew on the treadle.
        Cleveland: Well what on earth does that mean?
        Chapman: *I* don't know - Mr Wentworth just told me to come in here and say that there was trouble at the mill, that's all - I didn't expect a kind of Spanish Inquisition.

        [JARRING CHORD]
        [The door flies open and Cardinal Ximinez of Spain [Palin] enters, flanked by two junior cardinals. Cardinal Biggles [Jones] has goggles pushed over his forehead. Cardinal Fang [Gilliam] is just Cardinal Fang]

        Ximinez: NOBODY expects the Spanish Inquisition! Our chief weapon is surprise...surprise and fear...fear and surprise.... Our two weapons are fear and surprise...and ruthless efficiency.... Our *three* weapons are fear, surprise, and ruthless efficiency...and an almost fanatical devotion to the Pope.... Our *four*...no... *Amongst* our weapons.... Amongst our weaponry...are such elements as fear, surprise.... I'll come in again.

        [The Inquisition exits]

        Chapman: I didn't expect a kind of Spanish Inquisition.

        [JARRING CHORD]
        [The cardinals burst in]

        Ximinez: NOBODY expects the Spanish Inquisition! Amongst our weaponry are such diverse elements as: fear, surprise, ruthless efficiency, an almost fanatical devotion to the Pope, and nice red uniforms - Oh damn!
        [To Cardinal Biggles] I can't say it - you'll have to say it.
        Biggles: What?
        Ximinez: You'll have to say the bit about 'Our chief weapons are ...'
        Biggles: [rather horrified]: I couldn't do that...

        [Ximinez bundles the cardinals outside again]

        Chapman: I didn't expect a kind of Spanish Inquisition.

        [JARRING CHORD]

        [The cardinals enter]

        Biggles: Er.... Nobody...um....
        Ximinez: Expects...
        Biggles: Expects... Nobody expects the...um...the Spanish...um...
        Ximinez: Inquisition.
        Biggles: I know, I know! Nobody expects the Spanish Inquisition. In fact, those who do expect -
        Ximinez: Our chief weapons are...
        Biggles: Our chief weapons are...um...er...
        Ximinez: Surprise...
        Biggles: Surprise and --
        Ximinez: Okay, stop. Stop. Stop there - stop there. Stop. Phew! Ah! ... our chief weapons are surprise...blah blah blah. Cardinal, read the charges.
        Fang: You are hereby charged that you did on diverse dates commit heresy against the Holy Church. 'My old man said follow the--'
        Biggles: That's enough.
        [To Cleveland] Now, how do you plead?
        Clevelnd: We're innocent.
        Ximinez: Ha! Ha! Ha! Ha! Ha!

        [DIABOLICAL LAUGHTER]

        Biggles: We'll soon change your mind about that!

        [DIABOLICAL ACTING]

        Ximinez: Fear, surprise, and a most ruthless-- [controls himself with a supreme effort] Ooooh! Now, Cardinal -- the rack!

        [Biggles produces a plastic-coated dish-drying rack. Ximinez looks at it and clenches his teeth in an effort not to lose control. He hums heavily to cover his anger]

        Ximinez: You....Right! Tie her down.

        [Fang and Biggles make a pathetic attempt to tie her on to the drying rack]

        Ximinez:Right! How do you plead?
        Clevelnd: Innocent.
        Ximinez: Ha! Right! Cardinal, give the rack [oh dear] give the rack a turn.

        [Biggles stands their awkwardly and shrugs his shoulders]

        Biggles: I....
        Ximinez: [gritting his teeth] I *know*, I know you can't. I didn't want to say anything. I just wanted to try and ignore your crass mistake.
        Biggles: I...
        Ximinez: It makes it all seem so stupid.
        Biggles: Shall I...?
        Ximinez: No, just pretend for God's sake. Ha! Ha! Ha!

        [Biggles turns an imaginary handle on the side of the dish-rack]

        [Cut to them torturing a dear old lady, Marjorie Wilde]

        Ximinez: Now, old woman -- you are accused of heresy on three counts -- heresy by thought, heresy by word, heresy by deed, and heresy by action -- *four* counts. Do you confess?
        Wilde: I don't understand what I'm accused of.
        Ximinez: Ha! Then we'll make you understand! Biggles! Fetch...THE CUSHIONS!

        [JARRING CHORD]

        [Biggles holds out two ordinary modern household cushions]

        Biggles: Here they are, lord.
        Ximinez: Now, old lady -- you have one last chance. Confess the heinous sin of heresy, reject the works of the ungodly -- *two* last chances. And you shall be free -- *three* last chances. You have three last chances, the nature of which I have divulged in my previous utterance.
        Wilde: I don't know what you're talking about.
        Ximinez: Right! If that's the way you want it -- Cardinal! Poke her with the soft cushions!

        [Biggles carries out this rather pathetic torture]

        Ximinez: Confess! Confess! Confess!
        Biggles: It doesn't seem to be hurting her, lord.
        Ximinez: Have you got all the stuffing up one end?
        Biggles: Yes, lord.
        Ximinez [angrily hurling away the cushions]: Hm! She is made of harder stuff! Cardinal Fang! Fetch...THE COMFY CHAIR!

        [JARRING CHORD]

        [Zoom into Fang's horrified face]

        Fang [terrified]: The...Comfy Chair?

        [Biggles pushes in a comfy chair -- a really plush one]

        Ximinez: So you think you are strong because you can survive the soft cushions. Well, we shall see. Biggles! Put her in the Comfy Chair!

        [They roughly push her into the Comfy Chair]

        Ximinez [with a cruel leer]: Now -- you will stay in the Comfy Chair until lunch time, with only a cup of coffee at eleven. [aside, to Biggles] Is that really all it is?
        Biggles: Yes, lord.
        Ximinez: I see. I suppose we make it worse by shouting a lot, do we? Confess, woman. Confess! Confess! Confess! Confess
        Biggles: I confess!
        Ximinez: Not you!
    </p>
</section>