@{
    ViewBag.Title = "Veelgestelde vragen";
    Layout = "_Layout";
}

<h1>Veelgestelde vragen:</h1>
<ol>
    <li><a href="#Map">Hoe vind ik de coordinaten van een plek?</a></li>
</ol>

<section id="Map">
    <h5>Hoe vind ik de coordinaten van een plek?</h5>
    <ol class="m-0 pl-3">
        <li><p>Ga naar de <a href="https://maps.google.com" target="_blank">website</a> van google maps.</p></li>
        <li><p>Ga naar de locatie van je keuze.</p></li>
        <li><p>Klik op de rechtermuisknop (of ctrl + rechtermuisknop bij een Mac) op de locatie.</p></li>
        <li>
            <p>Klik op wat is hier? (Zoals op de gegeven foto).</p>
            <a href="~/images/FAQ_Map_1.png"><img class="img-fluid rounded" src="/images/FAQ_Map_1.png" alt="map1"/></a>
        </li>
        <li>
            <p>Onderaan de pagina zie je dat de coordinaten, klik daarop.</p>
            <a href="~/images/FAQ_Map_2.png"><img class="img-fluid rounded" src="/images/FAQ_Map_2.png" alt="map2"/></a>
        </li>
        <li>
            <p>Nu kan je de coordinaten kopieren en gebruiken waar nodig.</p>
            <a href="~/images/FAQ_Map_3.png"><img class="img-fluid rounded" src="/images/FAQ_Map_3.png" alt="map3"/></a>
        </li>
    </ol>
</section>