@model IEnumerable<Domain.Users.Platform>
@{
    ViewData["Title"] = "Home";
}

@section Scripts
    {
    <script type="module" src="~/dist/index.entry.js" defer></script>
    <script type="module" src="~/dist/bootstrap_js.entry.js" defer></script>
}

<div>
    <partial name="HomeTemplates/PlatformCarousel" model="@Model"></partial>
</div>
<hr/>
<div>
    <partial name="HomeTemplates/PlatformList"/>
</div>

