@model IEnumerable<Domain.Users.Platform>
@{
    ViewData["Title"] = "Home";
}

@section Scripts
    {
    <script type="module" src="~/dist/index.entry.js" defer></script>
    <script type="module" src="~/dist/bootstrap_js.entry.js" defer></script>
}

<div>
    @Html.Partial("HomeTemplates/PlatformCarousel", Model)
</div>
<hr/>
<div>
    @Html.Partial("HomeTemplates/PlatformList")
</div>
