@model UIMVC.Models.CreateProjectModel
@{
    ViewBag.Title = "Create New Project";
    Layout = "_Layout";
}


<h2>Add Project</h2>

<form asp-controller="Project" asp-action="AddProject" method="post" asp-route-pvm="@Model", asp-route-platform="@ViewData["platform"]">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label asp-for="Project.Title">Naam</label>
            <input asp-for="Project.Title" class="form-control" value="Test"/>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Project.StartDate">Startdatum</label>
            <input type="date" asp-for="Project.StartDate" class="form-control" value="1/1/0001 12:00:00 AM"/>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Project.EndDate">Einddatum</label>
            <input type="date" asp-for="Project.EndDate" class="form-control" value="1/1/0001 12:00:00 AM"/>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Project.Goal">Doel</label>
            <input asp-for="Project.Goal" class="form-control" value="Goal"/>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Project.Status">Status</label>
            <input asp-for="Project.Status" class="form-control" value="Open"/>
        </div>

    </div>
    <div class="form-group">
        <input type="checkbox" asp-for="Project.Visible"/>
        <label asp-for="Project.Visible">Zichtbaar</label>
    </div>
    
    
    @{
        for (int i = 0; i < 2; i++)
        {
            <h5>Phase @(i + 1)</h5>

            <div class="form-row" id="phases">
                <div class="form-group col-md-12">
                    <label asp-for="Phases[i].Description">Beschrijving</label>
                    <input asp-for="Phases[i].Description" class="form-control" value="Desciption"/>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Phases[i].StartDate">Startdatum</label>
                    <input type="date" asp-for="Phases[i].StartDate" class="form-control" value="1/1/2019 12:00:00 AM"/>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Phases[i].EndDate">Einddatum</label>
                    <input type="date" asp-for="Phases[i].EndDate" class="form-control" value="1/1/2019 12:00:00 AM"/>
                </div>
                <div class="form-group col-md-6">
                    @Html.RadioButtonFor(m => m.Phases[i].IsCurrent, true)
                    <label name="current" asp-for="Phases[i].IsCurrent">Set as Current Phase</label>
                </div>
                @*
                <input asp-for="Phases[i].IsCurrent" type="radio" id="currPhase" name="currPhase" value="true" checked>
                <label name="currPhase" asp-for="Phases[i].IsCurrent">Set as Current Phase</label>
                *@
            </div>
        }
    }

    <input class="btn btn-primary" type="submit" onvalue="Opslaan" class="btn"/>
</form>