@model Domain.Projects.Project

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Create Project</h2>

<form asp-controller="Project" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title">Naam</label>
        <input asp-for="Title" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="StartDate">StartDate</label>
        <input type="date" asp-for="StartDate" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="EndDate">EndDate</label>
        <input type="date" asp-for="EndDate" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Goal">Hoofdvraag</label>
        <input asp-for="Goal" class="form-control"/>
    </div>
   
    <div class="form-group">
        
        
    </div>
   

</form>