



<table>
    <tr>
        <th>Phase Id</th>
        <th>Phase Description</th>
    </tr>
    @{
        for (int i = 0; i < 4; i++)
        {
            <tr>
                <td> @Html.TextBox("["+ i +"].Id") </td>
                <td> @Html.TextBox("["+ i +"].Description")</td>
            </tr>
        }
    }
</table>

<input type="submit" value="Submit"/>