@using Domain.Projects
@using UIMVC.Services
@model Domain.Projects.Project
@inject ProjectService ProjectService


@{
    ViewBag.Title = @Model.Title;
}

<section>

    <h1>@Model.Title</h1>

    <div>
        @if (ProjectService == null)
        {
            <h4>Er zijn geen projecten!</h4>
        }
        else
        {
            foreach (Project project in ProjectService.GetProjects(Model) )
            {
                

            }
        }
    </div>


</section>