@using System.Net
@using Domain.Projects
@using Domain.UserInput
@using UIMVC.Services
@model AddAnswer
@inject RoleService RoleService
@inject ProjectService ProjectService

@{
    
    QuestionnaireQuestion question = (QuestionnaireQuestion) ViewData["Question"];
    Questionnaire questionnaire = (Questionnaire) ViewData["Questionnaire"];
    ViewBag.Title = question.QuestionText;
    ViewData["Platform"] = ProjectService.GetPlatform(questionnaire);
    ViewData["Project"] = ProjectService.GetProject(questionnaire);
    ViewData["Module"] = questionnaire;
    
}

<section>

    @if (User.Identity.IsAuthenticated && await RoleService.IsAdmin(User))
    {
        <div class="row align-items-center">
            <h1 class="col-10">@questionnaire.Title</h1>
            <a class="btn btn-primary col-2 h-25" asp-controller="Questionnaire" asp-action="EditQuestionnaire" asp-route-questionnaireid="@questionnaire.Id">Pas aan</a>
        </div>
    }
    else
    {
        <h1>@questionnaire.Title</h1>
    }
</section>

<hr/>

@if (questionnaire.OnGoing)
{
    @Html.Partial("Partials/AnswerQuestionnairePartial")
}
else
{
    <h2>Oops...</h2>
    <h4>Deze vragenlijst is nog niet openbaar gemaakt! Gelieve later nog eens te proberen...</h4>
}