@using System.Net
@using Domain.Projects
@using Domain.UserInput
@using UIMVC.Services
@model AddAnswerModel
@inject RoleService RoleService

@{
    QuestionnaireQuestion question = (QuestionnaireQuestion) ViewData["Question"];
    Questionnaire questionnaire = (Questionnaire) ViewData["Questionnaire"];

    bool invalid = (bool) ViewData["InValid"];
}

<section>

    @if (User.Identity.IsAuthenticated && await RoleService.IsAdmin(User))
    {
        <div class="row align-items-center">
            <h1 class="col-10">@questionnaire.Title</h1>
            <a class="btn btn-primary col-2 h-25" asp-controller="Questionnaire" asp-action="ChangeQuestionnaire" asp-route-questionnaireid="@questionnaire.Id">Pas aan</a>
        </div>
    }
    else
    {
        <h1>@questionnaire.Title</h1>
    }
</section>

<hr/>
@if (invalid)
{
    <div>
        <p class="text-danger">Gelieve de vraag te beantwoorden</p>
    </div>
}
@if (questionnaire.OnGoing)
{
    @Html.Partial("Partials/_AnswerQuestionnairePartial")
}
else
{
    <h2>Oops...</h2>
    <h4>Deze vragenlijst is nog niet openbaar gemaakt! Gelieve later nog eens te proberen...</h4>
}