@model UIMVC.Models.CreateIdeationQuestionModel

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Een nieuwe centrale vraag stellen.</h1>
            <form asp-controller="Moderation" asp-action="AddCentralQuestion" method="post" asp-route-ciqm="@Model"
                  asp-route-ideation="@ViewData["Ideation"]">
                <div class="form-group">
                    <label>IdeationID</label>
                    <input disabled value="@ViewData["Ideation"]" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="QuestionTitle">De Vraag</label>
                    <input asp-for="QuestionTitle" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Een nuttige beschrijving</label>
                    <input asp-for="Description" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="SiteUrl">Eventueel een link</label>
                    <input asp-for="SiteUrl" class="form-control"/>
                </div>
                <br/>
                <div class="row">
                    <button class="btn btn-primary" type="submit">Bevestig</button>
                </div>
            </form>
        </div>
    </div>
</div>
