@model Domain.UserInput.Idea

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-6 col-sm-12">
            <h2>Idee</h2>
            <p>Id</p>
            <p>User</p>
            <p>Aantal Stemmen</p>
            <p>Aantal Retweets</p>
            <p>Aantal Shares</p>
            <p>Titel</p>
            <p>Inhoud</p>
            <!-- TODO: Hier met ViewData["Fields"] werken -->
        </div>
        <div class="col-6 col-sm-12">
            <h2>Rapporteringen</h2>
            <h2>Acties</h2>
            <!-- TODO: Hier met ViewData["Rapporteringen"] groepering per Status -->
        </div>
    </div>
    <div>
        <h2>Acties</h2>
        <!-- TODO: Buttons "Vraag een review door een admin" | "Approve rapportering" | "Negeer rapportering" -->
        <!-- TODO: IPT13-60 Button voor dit idee te verwijderen -->
    </div>
</div>