@using Domain.UserInput
@model IEnumerable<Domain.UserInput.Idea>

@{
    ViewData["Title"] = "Overzicht van Ideeën";
    Layout = "_Layout";
}

<h2>Hier zie je een overzicht van alle ideeën</h2>
<hr/>
<div class="form-group">
    <div class="container">
        <div class="row" id="combo">
            <div class="col-2">
                <label >Selecteer een filter:</label>
            </div>
            <div class="col-10">
                <select class="form-control">
                    <option>Alle ideeën</option>
                    <option>Gerapporteerde ideeën</option>
                    <option>Ideeën die een admin moet verwerken</option>
                </select> 
            </div>
        </div>
    </div>    
</div>
<table class="table">
    
</table>