@model IEnumerable<Domain.UserInput.Idea>

@{
    ViewData["Title"] = "Overzicht van Ideeën";
    Layout = "_Layout";
}

@section Tags {
    <script type="module" src="~/js/collectallideas.js" defer></script>
}

<h2>Hier zie je een overzicht van alle ideeën</h2>
<hr/>
<div class="form-group">
    <div class="container">
        <div class="row" id="comboFilter">
            <div class="col-2">
                <label>Selecteer een filter:</label>
            </div>
            <div class="col-10">
                <select class="form-control">
                    <option value="all">Alle ideeën</option>
                    <option value="admin">Gerapporteerde ideeën</option>
                    <option value="report">Ideeën die een admin moet verwerken</option>
                </select> 
            </div>
        </div>
    </div>    
</div>
<table class="table" id="ideasTable">
    
</table>
