@{
    ViewData["Title"] = "Platforms";
}



<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Alle beschikbare platformen</h2>
        </div>
        <div class="col-md-2">
            <button class="btn-primary">Maak een platform</button>
        </div>
    </div>
    <div>
        <div>
            <table class="table">
                <tr>
                    <th>PlatformId</th>
                    <th>Eigenaar</th>
                    <th>Aanpassen</th>
                </tr>
            </table>
        </div>
    </div>
</div>