@model Domain.Projects.Ideation

    <div class="card text-center">
        <div class="card-header">
                <img alt="iIcon" src="https://image.flaticon.com/icons/svg/66/66298.svg" height="25" width="25"/>
            </div>
            <div class="card-body">
                <h4 class="card-title">@Model.Title</h4>
                <hr>
                <div class="card-text">
                    @Html.Partial("_ReactionNumbersPartial", new LikeViewModel()
                    {
                        likeCount = Model.LikeCount, fbLikeCount = Model.FbLikeCount,
                        twitterLikeCount = Model.TwitterLikeCount, iconStyle = 1
                    })
                </div>
            </div>
        
            <div class="card-footer">
                <a class="btn btn-primary" asp-controller="Platform" asp-action="CollectIdeation" asp-route-id="@Model.Id">Ga naar ideation!</a>
            </div>
    </div>
