@using Domain.Projects
@model Domain.Projects.Questionnaire

<div class="card text-center">
    <div class="card-header">
        <img alt="qIcon" src="https://image.flaticon.com/icons/svg/3/3711.svg" height="25" width="25"/>
    </div>
    <div class="card-body">
        <h4 class="card-title">@Model.Title</h4>
        <hr/>
        <div class="card-text">
            @Html.Partial("_ReactionNumbersPartial", new LikeViewModel() { LikeCount = Model.LikeCount, FbLikeCount = Model.FbLikeCount,
                TwitterLikeCount = Model.TwitterLikeCount , IconStyle = LikeVisibility.EveryTypeOfLike })
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" asp-action="AnswerQuestionnaire" asp-controller="Questionnaire" asp-route-questionnaireid="@Model.Id">
            Vul vragenlijst in!
        </a>
    </div>
</div>
