@using Domain.Users
@model AssignRoleModel

<form class="row" asp-action="SetRole" asp-controller="Platform" asp-route-arm="@Model" asp-route-userId="@Model.UserId">
    <div class="col-10 m-0">
            @Html.DropDownListFor(model => model.Role, new SelectList(Enum.GetValues(typeof(Role))), "Selecteer een rol", new {@class = "form-control"})

    </div>
    <div class="col-2 m-0">
        <button class="btn btn-primary" type="submit">+</button>
    </div>
</form>