@{
//    Layout = "_LayoutRegular.";
}

<h1>Account instellingen</h1>

<div>
    <h4>Pas je account instellingen aan.</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
