

<div class="home-flex">
    <h1 class="test">Zoek een platform in je buurt</h1>
    <form class="form-group">
        <div>
            <label for="searchPlatform">Naam</label>
            <input type="text" class="form-control" id="searchForPlatform" aria-describedby="searchPlatform" placeholder="naam">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    @* TODO zorg ervoor dat je direct op Projects terecht komt via de index *@
</div>

