
<div class="home-flex">
    <form class="form-group formIndexPlatform" asp-controller="Platform" asp-action="Search" method="post">
        
            <label for="searchPlatform">
                <h1>Vindt een platform in je buurt</h1>
            </label>
            <input type="text" class="form-control" placeholder="platform" name="search">
        <input type="submit" class="btn btn-primary" value="ZOEKEN"/>
    </form>
</div>